.ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  .me{
  margin:0 !important;
    
    
  }

  .no-ripple {
    --ripple-color: white;
    --background: white;
    --background-hover: white !important;
    
  }

  .c{
      width: 100%;
  }

  .cextra{
    width: 100%;
    height: 150px;
   
}
 

 .immi{
   height: 60%;
   width: 55%;
 }


 