ion-slide{
    padding-top: 60px ;
}
.logp{
    padding-top: 50px ;
}

.silk{
    width: 30%;
    height: 20%;
   
}


.haha{
    padding-top: 60px ;
}


.silkw{
    width: 50%;
    height: 50%;
   
}

ion-item{
    width: 100%;
   
}

form{
    width: 90%;
}

.loadimage{
height: 100%;
width: 100%;
}


.kmkmkm{
    height: 50%;
    width: 30%;
}



.regbut{
    padding-top: 20px ;
}


.power{
    height: 40%;
    width: 40%;
}