<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="push"   *ngIf="!this.router.isActive('/login',true)&&!this.router.isActive('/placeord',true)&&!this.router.isActive('/register',true)&&!this.router.isActive('/notifications',true)">
      <ion-header>
        <ion-toolbar color="success">
          <ion-title>Menu</ion-title>
          <ion-button slot="end" color="light" (click)="logout()" *ngIf="this.router.isActive('/home',true)"><ion-label  color="success">Logout</ion-label></ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon style="color: black;" slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="color: green;font-size: 20px;" >
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


