.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.indian{
  height: 40%;
  width: 40%;
}



.silk{
  width: 30%;
  height: 20%;
 
}


.me{
  margin:0 !important;
    
    
  }

form{
  width: 90%;
}


.c{
  width: 100%;
}

.scol {
  color:rgb(255,223,0)
}



.no-ripple {
  --ripple-color: white;
  --background: white;
  --background-hover: white !important;
  
}


#cart-badge {
  position: absolute;
  top: 0px;
  right: 0px;
}
.my-custom-menu {
  --width: 500px;
}