


.silk{
    width: 30%;
    height: 20%;
   
}


.logp{
    padding-top: 20px ;
}


.c{
    width: 100%;
}

.kmkmkm{
    height: 50%;
    width: 30%;
}

ion-item{
    width: 100%;
   
}

form{
    width: 90%;
}


ion-icon {
    color:rgb(255,223,0)
  }


